<div  [class]="data.selected ? 'border' : ''" class="pos-relative m-t-30">
  <mat-form-field appearance="outline" class="w-full"
   [ngStyle]="{'font-size': data ? data.font: '', 'font-weight':data.bold ? 'bold': '', 'font-style':data.italic ? 'italic':'','text-decoration':data.underline? 'underline':'', 'color':data.color ?'':'', 'font-family' : data.font_family }">

    <mat-label> {{data.text}} </mat-label>
    <input  class="w-full" matInput >

  </mat-form-field>
  <app-edit *ngIf="data.selected"></app-edit>

</div>
