<div class="sub-header">
  <div class="dis-flex justify-content-between">
    <div class="dis-flex justify-content-around">
      <div class="exit-btn">
        <button class="exit"  mat-flat-button (click)="exit()">Exit</button>
        <button  class="save" mat-flat-button (click)="saveSite()">Save</button>
<!--        <div class="save"  *ngIf="loading"> <mat-spinner diameter="30"></mat-spinner></div>-->

      </div>
    </div>
<!--    <div class="mat-icon-fs justify-content-between">-->
<!--      <span>{{data.brand}}-->
<!--      </span>-->
<!--    </div>-->
    <div class="dis-flex justify-content-around align-self-center">
      <button mat-flat-button class="btn-signup" (click)="publishSite()">Publish</button>
    </div>
  </div>
</div>
<!--<div class="sub-header" style="background: floralwhite; top: 144px">-->
<!--  <div class="subheader-align">-->
<!--    <div>-->
<!--      <div class="m-l-5">-->
<!--        <button class="btn"> Exit</button>-->
<!--      </div>-->
<!--      <div class="m-l-5">-->
<!--        <button class="btn"> Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;    <div class="justify-content-between">&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="m-l-80">Service</div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="m-l-80">Schedule</div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="m-l-80">Order</div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="m-l-80">Settings</div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div>-->
<!--      <button mat-flat-button class="btn-signup1" *ngIf="session.isLoggedIn" routerLink="/settings">Settings</button>-->
<!--      <button mat-flat-button class="btn-signup1">Preview</button>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
