.title2{
  margin-top: 15px;
}
.border{
  border: 1px solid;
  padding: 5px;
}
.section{
  margin-bottom: 10px;
}
.text-service{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: 10px;
}
.setting-button {
  font-size: 18px;
}

