.popup-head{
  background: dodgerblue;
  padding: 10px 5px;
  min-height: 75px;
  color: white;
  vertical-align: middle;
}

.detail-cont{
  padding: 35px 10px;
  text-align: center;

}

.submit-btn{
  width: 75%;
  background: #448AFF;
  color: white;
  margin-top: 20px;
  padding: 2px;
}

.upcoming-text{
  color: #7d7d7d;
  font-size: 18px;
  margin-top: 15px;
}
